<div class="container">
  <div class="config-container">
    <span>Number of Problems: </span>
    <input name="num-problems" placeholder="10" min="1" type="number">
    <br>
    <span>Time Per Problem: </span>
    <input name="tpp-minutes" placeholder="5" type="number"><span> Mins</span>
    <input name="tpp-seconds" placeholder="0" min="0" max="59" type="number"><span> Secs</span>
    <br>
    <span>Reminder (before time is up): </span>
    <input name="reminder-minutes" placeholder="0" type="number"><span> Mins</span>
    <input name="reminder-seconds" placeholder="30" min="0" max="59" type="number"><span> Secs</span>
    <br>

    <button class="btn run-btn">Run</button>
    <button class="btn clear-btn">Clear</button>
  </div>
</div>
