<div class="container">
  <div class="main-display">
    <div class="row row-current">
      <div class="cell">
        <h3>Current Problem</h3>
        <h1 class="current-problem">--</h1>
      </div>
      <div class="cell">
        <h3>Time Remained</h3>
        <h1 class="time time-remained"><time>00:00:00</time></h1>
      </div>
    </div>
    <div class="row row-overall">
      <div class="cell">
        <h3>Time Elapsed<br>(overall)</h3>
        <h1 class="time time-elapsed"><time>00:00:00</time></h1>
      </div>
      <div class="cell">
        <h3>Time Remained<br>(overall)</h3>
        <h1 class="time time-remained"><time>00:00:00</time></h1>
      </div>
    </div>
  </div>
</div>
